<mat-toolbar class="toolbar" color="primary" >
<!--  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">-->
<!--    <mat-icon>menu</mat-icon>-->
<!--  </button>-->
  <div class="logo-image">
    <img src="assets/images/laposte.png" class="img-fluid" style="width: 46px; height: 46px; ">
  </div>
  <span>Portail SOURCE APPLICATION</span>
  <span class="example-spacer"></span>

  <button mat-icon-button class="" color="primary" aria-label="Example icon button with a filter list icon">
    <mat-icon class="icon ">help_center</mat-icon>
  </button>
</mat-toolbar>
