.example-spacer {
  flex: 1 1 auto;
}
.color{
  color: #3f51b5;
}

.toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */

  background: rgba(26, 48, 75, 0.85);
}
/*.icon{*/
/*  background: #fff;*/
/*}*/
.logo-image{
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;

  margin-right: 20px;

}
