<h1>Lister Applications</h1>

<mat-form-field appearance="outline">
  <mat-label>Lister les applications</mat-label>
  <mat-select [(value)]="selected" (selectionChange)="getData($event)" >
    <mat-option  value="1">Domaine</mat-option>
    <mat-option  value="2">Catégorie</mat-option>
    <mat-option value="3">Structure responsable</mat-option>
  </mat-select>
</mat-form-field>

<!--<mat-spinner *ngIf="!dataSource.data.length"></mat-spinner>-->
<mat-tree style="" class="tree"  [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node style="background-color: #cee6f1" *matTreeNodeDef="let node" matTreeNodePadding>
    <!-- use a disabled button to provide padding for tree leaf -->
    <button style="" mat-icon-button disabled></button>
    {{node.name}}
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node style="background-color: #baddfa; font-weight: bold" *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
    <button style="background-color: #baddfa; color: #333854 " mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    {{node.name}}
  </mat-tree-node>
</mat-tree>

